<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <title>{{ blogname }}</title>
    {% include 'others/styles.html.twig' %}
</head>

<body>
{% include 'header.html.twig' %}
<div class="container">
    <div class="row" id="flash">
        {% include 'others/flash-messages.html.twig' %}
    </div>

    {% block body %}

    {% endblock %}


</div>
{% include 'others/modal.html.twig' %}
{% include 'others/javascript.html.twig' %}

</body>
</html>
