{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<div class="container">
    <br/>
    <div class="login-container">
        <h1>Merci !</h1><br>

        {% block fos_user_content %}
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        {% endblock fos_user_content %}

        <a href="{{ path('home') }}" class="btn login login-submit">
            <i class="fa fa-home"></i>
            Retour à l'Acceuil
        </a>

    </div>
    {% endblock body %}
