{% extends "layout.html.twig" %}
{% block title %}
    Chapitres - {{ parent() }}
{% endblock %}

{% block body %}
    {% block flash_messages %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    <h1>Modification d'un article</h1>
    <hr>

    {% block app_body %}
        {{ include("Article/form.html.twig") }}
    {% endblock %}
{% endblock %}