{% extends "layout.html.twig" %}
{% block title %}
    Chapitres - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Modification d'un article</h1>
    <hr>

    {% block app_body %}
        {{ include("Article/form.html.twig") }}
    {% endblock %}
{% endblock %}

